.info{
    display: block;
    margin-left: auto;
    margin-right: auto;
   width: 20em;
  
    
}
body{
    background-color: rgb(119, 206, 180);

}

 .headerleft{
    display: table-cell;
    vertical-align: middle;
    
    background-color: #eeeeee;
    border-radius: 10px;
    border: 2.5mm outset rgb(164, 144, 42);
}
.headercenter{
    display: table-cell;
    vertical-align:middle;
    
    background-color: #eeeeee;
    border-radius: 10px;
    border: 2.5mm outset rgb(74, 156, 78);
   
}
.headerRight{
    display: table-cell;
    vertical-align: middle;
    
    background-color: #eeeeee;
    border-radius: 10px;
    border: 2.5mm outset rgb(164, 144, 42);
}


.languageleft{
   
   

    
    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    max-width: 80px;
    margin: 50px ;
    display: table;  
    margin-top: 70px;
    margin-left: 30vw;
    margin-right: 10vw;
}

.languageRight{
   

    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    max-width: 80px;
    margin: 50px;
    display: table;
    margin-top: 70px;
    margin-left: 14vw;
    margin-right: 5vw;
    
}

.buttom-block-left{
   
    vertical-align: middle;
    display: table;
    margin-left: 30vw;
    margin-right: 10vw;
    margin-bottom: 30px;
    margin-top: 20px;
   
}
.buttom-block-right{
   

    display: table;
    margin-left: 15vw;
    margin-right: 5vw;

}
.search-block-left{
    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    max-width: 80px;
    margin: 50px ;
   

    display: block;
    margin-left: 27vw;
    margin-right: 5vw;
    width: 10em;
    margin-top: 50px;
}
.search-block-right{
    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    max-width: 80px;
    margin: 50px ;
    
    display: block;
    margin-left: 13vw;
    margin-right: 5vw;
    width: 10em;
    margin-top: 82px;
}